<div class="section banner">
  <div class="container">
    <div class="row">
      <div class="col s12 m9">
        <h1 class="header center-on-small-only">Live Link</h1>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col s12 m9 l12">
      <div class="section">
        <div id="preview" class="col s12 m9 l12">
          <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover table table-striped table-bordered nowrap">
            <thead>
            <tr>
              <th>ID</th>
              <th>First Name</th>
              <th>Last Name</th>
              <th>Email</th>
              <th>Phone</th>
              <th>Postal Code</th>
              <th>Appointment Date</th>
              <th>Appointment Time</th>
              <th>Appointment Location</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let person of persons">
              <td>{{ person.registration_id }}</td>
              <td>{{ person.field_anon_firstname }}</td>
              <td>{{ person.field_anon_lastname }}</td>
              <td>{{ person.anon_mail }}</td>
              <td>{{ person.field_anon_phone }}</td>
              <td>{{ person.postal_code }}</td>
              <td>{{ person.field_appointment_date }}</td>
              <td>{{ person.field_appointment_time }}</td>
              <td>{{ person.field_appointment_location }}</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
